{"name":"Roast My Room","slug":"roastmyroom","version":"0.1.0","orientation":"portrait","icon":"./docs/android/play_store_512.png","scheme":"roastmyroom","userInterfaceStyle":"automatic","plugins":["expo-asset","expo-font"],"platforms":["android"],"android":{"package":"com.roastmyroom.app","permissions":["com.android.vending.BILLING"],"adaptiveIcon":{"foregroundImage":"./docs/android/res/mipmap-xxxhdpi/ic_launcher_foreground.png","backgroundColor":"#000000","monochromeImage":"./docs/android/res/mipmap-xxxhdpi/ic_launcher_monochrome.png"}},"extra":{"OPENAI_API_KEY":"","SUPABASE_URL":"","SUPABASE_ANON_KEY":"","POSTHOG_PROJECT_KEY":"","SENTRY_DSN":"","eas":{"projectId":"8af660f9-9944-4f93-96ea-c433dc7acc1f"}},"sdkVersion":"53.0.0"}